/* ===== GERAL ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);

  font-size: 62.5%; /* 1rem = 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;

  text-align: center;

  background: var(--background);
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
}
/* ===== HEADER ===== */

header img {
  height: 7rem;
  width: 9rem;

  margin-top: 5rem;
}

header h1 {
  color: var(--title);
  font-size: 3rem;
  font-weight: 700;

  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

/* ===== MOVIE-BOX ===== */
#movie-box {
  display: none;
}

#movie-box.show-movie {
  margin-inline: auto;

  display: flex;

  width: 62.8rem;
  height: 31.9rem;

  align-items: center;
  justify-content: center;
}

#movie-box.show-movie #movie-image {
  width: 17.1rem;
  height: 24.37rem;
}

#movie-box.show-movie #movie-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;

  color: var(--title);
}

#movie-box.show-movie #movie-summary {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;

  color: var(--title);

  text-align: justify;
  padding: 3rem;
}

/* ===== GET MOVIE ===== */

#find-movie-button {
  margin-inline: auto; /*deixa o botão no meio*/

  background: var(--bg-button);

  border: none;

  border-radius: 0.5rem;
  width: fit-content;
  padding: 1.4rem 1.6rem;
  height: 4.7rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;

  font-size: 1.4rem;
  font-weight: 700;
  color: black;

  cursor: pointer;
}

#instructions {
  font-size: 1.4rem;
  font-weight: 400;

  color: var(--title);

  margin-top: 1rem;
}
